// Colors

$off-black: #25171A;
$purple: #533A7B;
$gray-brown: #504B43;
$light-blue: #98C1D9;
$light-black: #464b5e;
$blue-purple: #6969B3;
$blue: #3c4251;
$off-white: #cbceda;
$light-yellow: #e2eb7b;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;